<div class="rectangulo2">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <!-- Image section -->
        <img id="imagen7" src="assets/img/image 7.png" alt="img7" />
      </div>
      <div class="col-md-6">
        <!-- Text section -->
        <h1>Board-certified specialists in general dermatology</h1>
        <div class="service">
          <h2>Haircare:</h2>
          <p>
            From trendy cuts to vibrant color treatments, our skilled
            hairstylists are here to transform your look.
          </p>
        </div>
        <div class="service">
          <h2>Skincare:</h2>
          <p>
            Rejuvenate your skin with our facials, peels, and anti-aging
            treatments.
          </p>
        </div>
        <p>
          No matter which service you choose, we ensure a pampering experience
          that will leave you feeling refreshed and beautiful.
        </p>
        <a href="#" class="btn btn-primary">MORE DETAILS</a>
      </div>
    </div>
  </div>
</div>
