<section>
  <div class="rectangulo1">
    <a href="#seccion-destino"><h1 class="about">About Us</h1></a>
    <table class="st">
      <tr>
        <td>
          Our team consists of passionate and skilled professionals who are
          dedicated to making you look and feel your best.
        </td>
      </tr>
    </table>
    <img id="img6" src="assets/img/image 6.png" alt="img6" />
    <br />
    <div class="square2">
      <img src="assets/img/86.png" alt="Imagen 1" />
    </div>
    <div class="square2">
      <img src="assets/img/1.0.png" alt="Imagen 1" />
    </div>
    <div class="square2">
      <img src="assets/img/65.png" alt="Imagen 1" />
    </div>
  </div>
</section>
