<div class="row seccion1" >
  <div class="col-sm-4">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="assets/img/Vector (1).png" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">General Dermatoligy.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="assets/img/Group 2.png" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Mole Check.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="assets/img/33.png" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Continuous Monitoring.</p>
      </div>
    </div>
  </div>
</div>

