.seccion1 {
  background-color: rgb(245, 142, 142);
  padding: 67px;
  margin: 0;

}


  #listaservicios {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
  }

  .square1 {
    text-align: center;
    border: 2px solid white;
    padding: 20px;
    margin: 80px;
  }

  .rectangulo3 {
    width: auto;
    height: auto;
    background-color: rgb(245, 142, 142);
    font-family: "Inria Serif", serif;
  }

  p {
    font-family: "Inria Serif", serif;
  }


  img{
    height: 200px;
    width: 200px;
  }


  .card{
    background: #f58e8e;border: 5px solid white;
    padding: 12px;
    color: white;
    font-size: 20px;
  }
