<header>
  <div class="header" id="header">
    <img
      id="imagen-superior-izquierda"
      src="assets/img/carrito.png"
      alt="Imagen Superior Izquierda"
    />
    <img id="imagen-centro" src="assets/img/Amber.png" alt="Imagen Centro" />
    <img
      id="imagen-superior-derecha"
      src="assets/img/Lets talk.png"
      alt="Imagen Superior Derecha"
    />
  </div>

  <nav>
    <ul>
      <li><a [routerLink]="['/inicio']" routerLinkActive="active">inicio</a></li>
      <li><a routerLink="/about">about</a></li>
      <li><a routerLink="/contact">contact</a></li>
    </ul>
  </nav>
</header>
